<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Trackify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BookingHelper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Horizon.MvvmFramework" publicKeyToken="2596b24509c660de" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="%env{APPDATA}\BookingHelper\Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <userSettings>
    <Trackify.Properties.Settings>
      <setting name="AccentColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="BookingTimeInterval" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DailyTarget" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="IsDailyReportVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShouldApplicationStayAlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
    </Trackify.Properties.Settings>
    <BookingHelper.Settings>
      <setting name="AccentColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="BookingTimeInterval" serializeAs="String">
        <value>0.25</value>
      </setting>
    </BookingHelper.Settings>
  </userSettings>
</configuration>
